body {
  text-align: center;
}
canvas {
  display: block;
  margin: auto;
  padding: 0;
  border: none;
  background-color: grey;
}
button {
  display: inline-block;
  font-size: inherit;
  margin: auto;
  padding: 0.6em;
}

.flex { display : flex }