body {
  text-align: center;
}
canvas {
  display: block;
  margin: auto;
  padding: 0;
  border: none;
  touch-action: none;
  background-color: grey;
}
button {
  display: inline-block;
  font-size: inherit;
  margin: auto;
  padding: 0.6em;
}
.btn {
  display: inline-block;
  font-size: inherit;
  margin: auto;
  padding: 0.6em;
  border: 1px;
  background-color: buttonface;
  border-color: buttonborder;
  border-style: outset;
  border-radius: 4px;
}
th {
    font-weight: normal;
}
th.selected {
  border-style: solid;
  border-color: #aa0000;
}

.flex { display : flex }
input[type="range"] {
  width:100%;
}